version: 2.1

executors:
  linux:
    docker:
      - image: cimg/base:2022.03
  macos:
    macos:
      xcode: 12.5.1

orbs:
  node: circleci/node@5.0.0

jobs:
  test:
    parameters:
      os:
        type: executor
      node-version:
        type: string
    executor: << parameters.os >>
    steps:
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
          install-yarn: true
      - run:
          command: echo "running matrix job for << parameters.os >> << parameters.node-version >>"

workflows:
  all-tests:
    jobs:
      - test:
          matrix:
            # Add below this line to setup matrix build
