version: 2.1

jobs:
  build:
    docker:
      - image: cimg/base:2022.10
    steps:
      - checkout
      - run: echo "Building complete"
  test:
    docker:
      - image: cimg/base:2022.10
    steps:
      - run: echo "Testing complete"
  deploy:
      docker:
        - image: cimg/base:2022.10
      steps:
        - run: echo "DEPLOYING" # Make sure tests pass first!

workflows:
  build-test-and-deploy:
    jobs:
      - build
      - test
      - deploy
